.loja__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.loja {
    padding: 40px;
}

.favoritos__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}


.favoritos-item {
    display: flex;
    flex-direction: column;
    align-items: end;
  }



.favoritos {
    padding: 40px;
}

.favoritos ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.favoritos li {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.favoritos-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    border: none;
    width: 180px;
}


#loja__favoritos-icon {
    width: 30px; 
    height: 30px; 
      
  }



#loja__favoritos-icon:hover {

    background-color: #ccced3;
    padding: 5px;
    border-radius: 12px; 

}

#loja__favoritos-icon:active {

    background-color: #ccced3;
    padding: 5px;
    border-radius: 12px; 

}

#favoritos-button-sacola {
    width: 20px;
}

#favoritos-button-sacola:hover {
    width: 20px;
    animation: treme 0.5s;
  animation-iteration-count: infinite;
}

@keyframes treme {
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
}



  
